<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Ballon D'or candidate football players</title>
    <base href="/" />
  </head>
  <body>
    <h1 class="titleText">List of Ballon D'or candidate football players</h1>
    <div id="root"></div>
  </body>
</html>